.top {
	display: inline-block;
	background-color: #333333;
	width: 100%;
	padding: 0;
}

.clock-wrap {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

#mainText {
    margin-top: 20px;
    text-align: center;
    color: #333333;
    font-style: sans-serif;
    font-size: 2em;
}

.vid {
	width: 640px;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	float: left;
}

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

#grad {
    background: #AFEEEE;
}

#title {
	font-family: sans-serif;
	color: white;
	font-weight: 100;
}

.content  {
	float:left;
	margin-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contentbox {
    height: 680px;
    border: 1px black solid;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}



#goApp {
    width: 10%;
    margin: 0 auto;
    margin-top: 250px;
}

#goApp img::hover {
    opacity: 1;

}
