.top {
	display: inline-block;
	background-color: #333333;
	width: 100%;
	padding: 0;
}

.clock-wrap {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

#mainText {
    margin-top: 20px;
    text-align: center;
    color: #333333;
    font-style: sans-serif;
    font-size: 2em;
}

.vid {
	width: 640px;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	float: left;
}

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

#grad {
    background: #AFEEEE;
}

#title {
	font-family: sans-serif;
	color: white;
	font-weight: 100;
}

.content  {
	float:left;
	margin-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contentbox {
    height: 680px;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}



#icon {
    text-align: center;
    display: block;
    margin-top: 30px;
}

#icon img {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#icon img:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}


div#mp3_player{
    width:400px; 
    height:60px; 
    background:#000; 
    float:left;
    margin-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
div#mp3_player > div > audio{  width:400px; background:#000; float:left;  }
div#mp3_player > canvas{ width:400px; height:30px; background:#002D3C; float:left; }